html, body {
  color: #000;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  margin: 0px;
}

body {
  background-color #fff;
}

main section {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main section h2 {
  display: flex;
  flex-basis: calc(50% - 1em);
  flex-direction: column;
  min-width: calc(48%);
  border: 1px;
  border-color: black;
  border-style: solid;
}

.banner_slides {
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: banner_slides_fade;
  animation-duration: 8.2s;
  height: 400px;
  min-height: 100%;
  width: 100%;
}

.banner_photos img {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

@keyframes banner_slides_fade {
  0% { opacity: 0.5; }
  10% { opacity: 1; }
  50% { opacity: 1; }
  95% { opacity: 1; }
  100% {opacity: 0; }
}

.partners {
  text-align: center;
}

.partners h2:hover {
  cursor: pointer;
}

.partner_title {
  font-weight: bold;
  font-size: 18px;
}

.expanded, .unexpanded {
  transition: all 1s ease-in-out;
  overflow-y: hidden;
  max-height: 0;
}

.expanded {
  max-height: 37em;
}
