main section {
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

main section h1 {
  font-size: 36px;
  text-align: center;
}

main section h2 {
  font-size: 3em;
  display: flex;
  flex-direction: column;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  margin-top: -1.5em;
  padding: .5em;
  color: white;
  font-weight: bold;
  font-size: 2em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.4);
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.9);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.dots {
  text-align: center;
  margin-top: -32px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  cursor: pointer;
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  transition: background-color 0.6s ease;
  background-color: rgba(255,255,255,0.4);
}

.active, .dot:hover {
  background-color: rgba(255,255,255,0.9);
}

.banner_slides {
  display: none;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: banner_slides_fade;
  animation-duration: 8.2s;
  height: 600px;
  min-height: 100%;
}

.banner_slides > img {
  object-fit: fill;
}

.banner_photos img {
  height: 100%;
  width: 100%;
  min-width: 100%;
}

@keyframes banner_slides_fade {
  0% { opacity: 0.5; }
  10% { opacity: 1; }
  50% { opacity: 1; }
  95% { opacity: 1; }
  100% {opacity: 0; }
}

.partners {
  text-align: center;
}

.partners h2 {
  margin-bottom: 0;
}

.partner_title {
  font-weight: bold;
  font-size: 18px;
}

.expanded, .unexpanded {
  transition: max-height .7s ease-in-out, padding .5s ease-in-out;
  overflow-y: hidden;
  max-height: 0;
}

.expanded {
  padding-top: 1em;
  max-height: 55em;
}

.flex-counters {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.counter-item ul {
  padding: 0;
}

.counter-item li {
  list-style-type: none;
}
